@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Poppins;
   background-color: white;
   color: white;
   margin: 0;
   font-size: 14px;
}
a {
   text-decoration: none;
   color: black;
}
nav a:hover {
   color: black;
   font-size: 16px;
   font-weight: 500;
   text-decoration: underline;
   transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease;
}

header {
   width: 100%;
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
}
header nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}
.nav-links {
   display: flex;
   gap: 20px;
}
.burger {
   color: black;
   display: none;
   cursor: pointer;
   font-size: 24px;
}
.header-icon i {
   font-size: 24px;
   color: black;
   cursor: pointer;
}
.header-icon a:hover {
   text-decoration: none !important;
}
.cart-count {
   position: absolute;
   margin-left: -20px;
   margin-top: -10px;
   background-color: red;
   color: white;
   border-radius: 50%;
   padding: 2px 6px;
   font-size: 12px;
   font-weight: bold;
}


@media screen and (max-width: 768px) {
   .nav-links {
      display: none;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      text-align: center;
   }

   .nav-links.active {
      display: flex;
   }

   .burger {
      display: block;
   }
   .ph-envelope-simple {
      display: none;
   }
}
header a {
   margin: 0 10px;  
}
.logo {
   margin: 0 20px;
}
.slider {
   width: 98vw;
   height: 90vh;
   overflow: hidden;
   margin-top: 50px;
}
.slider .list .item {
   position: absolute;
   inset: 0 0 0 0;
}
.slider .list .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider .list .item .content {
   position: absolute;
   top: 20%;
   width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}
span {
   font-weight: bolder;
}
.slider .list .item .type{
   font-weight: bold;
   letter-spacing: 10px;
}
.slider .list .item .type,
.slider .list .item .topic{
   font-size: 5em;
   font-weight: bold;
   line-height: 1.3em;
}
.slider .list .item .topic{
   color: #f1683a;
}
.slider .list .item .buttons{
   display: grid;
   grid-template-columns: repeat(2, 130px);
   grid-template-rows: 40px;
   gap: 5px;
   margin-top: 20px;
}
.slider .list .item .buttons button{
   border: none;
   background-color: #eee;
   letter-spacing: 3px;
   font-family: Poppins;
   font-weight: 500;
}
.thumbnail{
   position: absolute;
   bottom: 50px;
   left: 50%;
   width: max-content;
   z-index: 100;
   display: flex;
   gap: 20px;
}
.thumbnail .item{
   width: 150px;
   height: 220px;
   flex-shrink: 0;
   position: relative;
}
.thumbnail .item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
}
.thumbnail .item .content{
   color: white;
   position: absolute;
   bottom: 10px;
   left: 10px;
   right: 10px;
}
.thumbnail .item .content .name{
   font-weight: 500;
}
.arrows{
   position: absolute;
   top: 80%;
   right: 52%;
   z-index: 100;
   width: 300px;
   max-width: 30%;
   display: flex;
   gap: 10px;
   align-items: center;
}
.arrows button{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: gray;
   border: none;
   color: white;
   font-family: monospace;
   font-weight: bold;
   transition: .5s;
}
.arrows button:hover{
   background-color: white;
   color: black;
}
.slider .list .item:nth-child(1){
   z-index: 1;
}
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .topic,
.slider .list .item:nth-child(1) .content .des,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .type{
   animation-delay: 1.2s!important;
}
.slider .list .item:nth-child(1) .content .topic{
   animation-delay: 1.4s!important;
}
.slider .list .item:nth-child(1) .content .des{
   animation-delay: 1.6s!important;
}
.slider .list .item:nth-child(1) .content .buttons{
   animation-delay: 1.8s!important;
}
.slider.next .list .item:nth-child(1) img{
   width: 150px;
   height: 220px;
   position: absolute;
   bottom: 50px;
   left: 50%;
   border-radius: 30px;
   animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
   to{
       bottom: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border-radius: 0;
   }
}
.slider.next .thumbnail .item:nth-last-child(1){
   overflow: hidden;
   animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
   z-index: 100;
}
@keyframes showThumbnail{
   from{
       width: 0;
       opacity: 0;
   }
   to{
      width: 150px;
      opacity: 1;
  }
}
.slider.next .thumbnail{
   animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext{
   from{
       transform: translateX(150px);
   }
}
.slider .time{
   position: absolute;
   z-index: 1000;
   width: 0%;
   height: 3px;
   background-color: #f1683a;
   left: 0;
   top: 0;
}
.slider.next .time,
.slider.prev .time{
   animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
   from{ width: 100%}
   to{width: 0}
}
.slider.prev .list .item:nth-child(2){
   z-index: 2;
}
.slider.prev .list .item:nth-child(2) img{
   animation: outFrame 0.5s linear 1 forwards;
   position: absolute;
   bottom: 0;
   left: 0;
}
@keyframes outFrame{
   to{
       width: 150px;
       height: 220px;
       bottom: 50px;
       left: 50%;
       border-radius: 20px;
   }
}
.slider.prev .thumbnail .item:nth-child(1){
   overflow: hidden;
   opacity: 0;
   animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .arrows button,
.slider.prev .arrows button{
   pointer-events: none;
}
.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .topic,
.slider.prev .list .item:nth-child(2) .content .des,
.slider.prev .list .item:nth-child(2) .content .buttons
{
   animation: contentOut 1.5s linear 1 forwards!important;
}
@keyframes contentOut{
   to{
       transform: translateY(-150px);
       filter: blur(20px);
       opacity: 0;
   }
}
@media screen and (max-width: 678px) {
   .slider .list .item .content {
      padding-right: 0;
  }
  .slider .list .item .type,
  .slider .list .item .topic {
      font-size: 30px;
  }

}
.counter {
   position: absolute;
   width: 80vw;
   display: flex;
   margin-top: 5%;
   color:#f1683a;
   gap: 10px;
   left: 20%;
}
.counter-container {
   width: 28vmin;
   height: 20vmin;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 1em 0;
   position: relative;
   font-size: 16px;
   background-color: #60453b;
   border-bottom: 10px solid #f1683a;
}
span.num {
   color: #f1683a;
   display: grid;
   place-items: center;
   font-weight: 600;
   font-size: 3em;
}
span.counter-text {
   color: white;
   font-size: 1em;
   text-align: center;
   pad: 0.7em 0;
   font-weight: 400;
}

@media screen and (max-width: 768px) {
   .slider .list .item .content {
       display: none;
   }

   .slider .thumbnail {
       display: none;
   }

   .slider .list .item img {
       height: 80vh;
   }
   .slider .list .item .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
  }

  .slider .list .item .buttons button {
      width: 80%;
      max-width: 300px;
      text-align: center;
      border: none;
      background-color: #eee;
      letter-spacing: 3px;
      font-family: Poppins;
      font-weight: 500;
      padding: 10px 20px;
  }
}

.category_thumb {
   height: 20vmin;
   width: 95%;
   margin-left: 2.5%;
   margin-top: calc(8% + 20vmin);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.category_thumb img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.cat_thumb {
   width: 14vmin;
   height: 14vmin;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid #f1683a;
}
.cat_thumb a {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
.cat_desc {
   margin-top: 0.6vmin;
   text-align: center;
   font-size: 1em;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
}
.icons-container {
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
   width: 100%;
   padding: 20px;
   background-color:white;
}
.icon-item {
   text-align: center;
   flex: 1;
   transition: color 0.3s ease, transform 0.3s ease;
}
.icon-item i {
   font-size: 30px;
   color: black;
}
.icon-item p {
   margin-top: 5px;
   font-size: 14px;
   color: black;
}
.icon-item:hover i,
.icon-item:hover p {
   color: #ff6600; 
}
.icon-item:hover {
   transform: scale(1.05);
}
.footer {
   display: flex;
   justify-content:space-between;
   padding: 20px;
   background-color: #f8f8f8;
   color: #000;
   font-size: 14px;
   width: auto;
}
.footer-column {
   flex: 1;
   margin: 0 10px;
}
.footer-column h4 {
   font-size: 16px;
   margin-bottom: 10px;
   font-weight: 600;
}
.footer-column p {
   margin-bottom: 10px;
   font-weight: 300;
}
.footer-column a {
   text-decoration: none;
   color: #000;
   display: block;
   margin-bottom: 8px;
   transition: color 0.3s ease;
   margin-right: 20px;
}
.footer-column a:hover {
   color: #ff6600;
}
.newsletter {
   display: flex;
   align-items: center;
}
.newsletter input[type="email"] {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   width: 80%;
   font-size: 14px;
}
.newsletter button[type="submit"] {
   padding: 10px;
   background-color: #ff6600;
   border: none;
   border-radius: 0 4px 4px 0;
   color: white;
   cursor: pointer;
}
.social-icons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100px;
   gap:5px;
}
.social-icons a {
   color: #000;
   font-size: 20px;
   transition: color 0.3s ease;
}
.social-icons a:hover {
   color: #ff6600;
}