@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Poppins;
   background-color: white;
   color: white;
   margin: 0;
   font-size: 14px;
}
a {
   text-decoration: none;
   color: black;
}
nav a:hover {
   color: black;
   font-size: 16px;
   font-weight: 500;
   text-decoration: underline;
   transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease;
}

header {
   width: 100%;
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
}
header nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}
.nav-links {
   display: flex;
   gap: 20px;
}
.burger {
   color: black;
   display: none;
   cursor: pointer;
   font-size: 24px;
}
@media screen and (max-width: 768px) {
   .nav-links {
      display: none;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      text-align: center;
   }

   .nav-links.active {
      display: flex;
   }

   .burger {
      display: block;
   }
}
header a {
   margin: 0 10px;  
}
.logo {
   margin: 0 20px;
}
.slider {
   width: 98vw;
   height: 90vh;
   overflow: hidden;
   margin-top: 50px;
}
.slider .list .item {
   position: absolute;
   inset: 0 0 0 0;
}
.slider .list .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider .list .item .content {
   position: absolute;
   top: 20%;
   width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}
.logo {
   margin: 0 20px;
}
hr {
   margin-top: 5.2%;
}
.wishlist {
   border: 2px solid red;
   background-color: white;
   width: 20%;
   height: 15vmin;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
   position: fixed;
   margin-left: 77%;
   z-index: 2;
   opacity: 0; 
   visibility: hidden;
   transition: opacity 0.9s ease, visibility 0.9s ease;
}
.wishlist.show {
   opacity: 1;
   visibility: visible;
}

.wishlist img {
   margin-bottom: 10px;
   width: 60px;
   height: 50px;
}

.wishlist p {
   margin: 0;
   font-size: 1.2em;
   color: black;
}
.back {
   margin-top: 1%;
   margin-left: 5%;
   color: #5A5A5A;
   font-family: "Jost", sans-serif;
}
.back span {
   color: #B0B0B0;
}
.back span:hover {
   color: #5A5A5A;
   transition: color 0.3s ease;
}
.heading {
   margin-top: 3%;
   font-family: "Jost", sans-serif;
   color: black;
   font-size: 56px;
   line-height: 60px;
   font-weight: 500;
   text-align: center;
   justify-content: center;
}
.product-list {
   margin-top: 3%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, auto));
   gap: 2rem;
   width: 95%;
   margin-left: 2.5%;
}
.row-img{
   position: relative;
   transition: all 0.40s ease-in-out;
}
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
   width: 100%;
   height: auto;
   opacity: 1;
   transition: opacity 1s ease-in-out;
}
.product-details {
   display: flex;
   justify-content: space-between;
}
.heart-icon {
   right: 0;
   font-size: 20px;
   color: red;
   margin-top: 2%;
}
.heart-icon:hover {
   cursor: pointer;
}
.ratings {
   margin-top: 2%;
   color: #fc8c00;
   font-size: 20px;
}
.price {
   color: black;
}
.price h4 {
   font-weight: 400;
   font-size: 1.1em ;
}
.old-price .original{
   font-size: 0.9em;
   text-decoration: line-through;
}

.price p {
   font-size: 1.4em;
   font-weight: 600;
   margin: 1%;
}
.old-price .discount {
   color: #fc8c00;
   text-decoration: none !important;
   font-weight: bold !important;
}
.row-img:hover .t1, .row-img:hover .t2, .row-img:hover .t3, .row-img:hover .t4, .row-img:hover .t5, .row-img:hover .t6, .row-img:hover .t7, .row-img:hover .t8{
   opacity: 0;
}
.row-img::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   transition: opacity 1s ease-in-out;
   opacity: 0;
}
.row-img:hover::before {
   opacity: 1;
}

.row:nth-child(1) .row-img::before {
   background-image: url('/images/Tshirt/01/02.webp');
}
.row:nth-child(2) .row-img::before {
   background-image: url('/images/Tshirt/02/02.webp');
}

.row:nth-child(3) .row-img::before {
   background-image: url('/images/Tshirt/03/02.webp');
}

.row:nth-child(4) .row-img::before {
   background-image: url('/images/Tshirt/04/02.webp');
}
.row:nth-child(5) .row-img::before {
   background-image: url('/images/Tshirt/05/02.webp');
}
.row:nth-child(6) .row-img::before {
   background-image: url('/images/Tshirt/06/02.webp');
}
.row:nth-child(7) .row-img::before {
   background-image: url('/images/Tshirt/07/02.webp');
}
.row:nth-child(8) .row-img::before {
   background-image: url('/images/Tshirt/08/02.webp');
}
.text-with-icon {
   display: flex;
   width: 60%;
   margin-left: 20%;
   justify-content: space-between;
   color: black;
   font-size: 50px;
   margin-top: 5%;
}